h3 {color: gray; 
    text-decoration: underline; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
body {color: green; background-color: lightblue;}
.teks-biru {color: blue;}
/* aku sudah pusing */